<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        th {
          background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Lista de Clientes</h1>

<!-- Mostrar la lista de productos en una tabla -->
<table>
    <thead>
    <tr>
        <!--    <th>ID</th>-->
        <th>DNI</th>
        <th>Nombre</th>
        <th>Dirección Postal</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Sucursal Principal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${listaClientes}">
        <td th:text="${cliente.dni}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.direccionPostal}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.telefono}"></td>
        <td th:text="${cliente.sucursalPrincipal.nombre}"></td>
        <td>
            <a th:href="@{/cliente/} + ${cliente.id}">
                DETALLE
            </a>
            <form th:action="@{/cliente/} + ${cliente.id} + @{/delete}" method="post">
                <button type="submit">Eliminar</button>
            </form>

        </td>

    </tr>
    </tbody>
</table>

<hr>

<!-- Formulario para agregar un nuevo producto -->
<h2>Agregar Nuevo Cliente</h2>
<form th:action="@{/cliente}" method="post">
    <label for="newDni">DNI:</label>
    <input type="text" id="newDni" name="dni" required>
    <br>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="newEmail">Email:</label>
    <input type="text" id="newEmail" name="email" required>
    <br>
    <label for="direccionPostal">Dirección Postal:</label>
    <input type="text" id="direccionPostal" name="direccionPostal" required>
    <br>
    <label for="telefono">Telefono:</label>
    <input type="text" id="telefono" name="telefono" required>
    <br>
    <label for="sucursalPrincipalId">Sucursal Principal:</label>
    <select name="sucursalPrincipalId" id="sucursalPrincipalId" required>
        <option value="">Seleccione una opción</option>
        <option th:each="sucursal: ${sucursales}" th:value="${sucursal.id}" th:text="${sucursal.nombre}"></option>
    </select>
    <br>
    <button type="submit">Dar de alta Cliente</button>
</form>


<h2>Buscar Cliente por ID</h2>
<form action="/cliente" method="get">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id">
    <button type="submit">Buscar Cliente</button>
</form>



<h2>Buscar Cliente por DNI</h2>
<form action="/cliente/DNI/{dni}" method="get">
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni">
    <button type="submit">Buscar Cliente</button>
</form>

<h2>Buscar Cliente por email</h2>
<form action="/cliente/email/{email}" method="get">
    <label for="email">email:</label>
    <input type="text" id="email" name="email">
    <button type="submit">Buscar Cliente</button>
</form>


</body>
</html>