<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Sucursales</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Lista de Sucursales</h1>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sucursal : ${sucursales}">
        <td th:text="${sucursal.nombre} + ${sucursal.id}"></td>
        <td>
            <a th:href="@{/sucursales/} + ${sucursal.id}">
                DETALLE
            </a>
            <form th:action="@{/sucursales/} + ${sucursal.id} + @{/delete}" method="post">
                <button type="submit">Eliminar</button>
            </form>

        </td>

    </tr>
    </tbody>
</table>

<hr>

<h2>Agregar Nueva Sucursal</h2>
<form th:action="@{/sucursales}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="director">Director:</label>
    <input type="text" id="director" name="director" required>
    <br>
    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" required>
    <br>
    <button type="submit">Agregar Sucursal</button>
</form>
</body>
</html>